@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
:root {
  --color-dark-blue: hsl(243, 87%, 12%);
  --color-desaturated-blue: hsl(238, 22%, 44%);
  --color-desaturated-blue-transparent: hsla(238, 22%, 44%, 0.7);
  --color-bright-blue: hsl(224, 93%, 58%);
  --color-moderate-cyan: hsl(170, 45%, 43%);
  --color-grayish-blue: hsl(240, 75%, 98%);
  --color-grayish-blue-transparent: hsla(240, 75%, 98%, 0.7);
  --color-light-gray: hsl(0, 0%, 75%);
  --color-white: hsl(0, 0%, 100%);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol */
ul,
ol {
  list-style: none;
}

html {
  font-size: 100%;
}
@media only screen and (min-width: 55em) {
  html {
    font-size: 150%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-dark-blue);
}

h1,
h2,
nav,
input[role=button] {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

nav,
input[role=button] {
  font-weight: 400;
}

nav {
  font-size: 0.75rem;
  letter-spacing: 0.01rem;
}
@media only screen and (min-width: 55em) {
  nav {
    font-size: 0.6667rem;
  }
}

h1 {
  letter-spacing: 0.03rem;
}
@media only screen and (min-width: 55em) {
  h1 {
    font-size: 1.67rem;
    letter-spacing: 0;
  }
}

h2 {
  font-size: 1rem;
}
@media only screen and (min-width: 55em) {
  h2 {
    font-size: 1.67rem;
  }
}

p {
  font-size: 0.890625rem;
}
@media only screen and (min-width: 55em) {
  p {
    font-size: 0.75rem;
    line-height: 1.25;
  }
}

input[type=text],
input[type=submit] {
  font-size: 0.875rem;
}
@media only screen and (min-width: 55em) {
  input[type=text],
input[type=submit] {
    font-size: 0.625rem;
  }
}

input[type=submit] {
  font-weight: 700;
}

input[type=text]::-webkit-input-placeholder {
  font-size: 0.75rem;
}
@media only screen and (min-width: 55em) {
  input[type=text]::-webkit-input-placeholder {
    font-size: 0.625rem;
  }
}

a {
  font-size: 0.75rem;
  color: var(--color-moderate-cyan);
  text-decoration: none;
}

blockquote {
  font-size: 0.625rem;
  line-height: 1.75;
}
blockquote strong {
  font-family: "Raleway", sans-serif;
}
blockquote small {
  font-size: 0.4rem;
}
@media only screen and (min-width: 55em) {
  blockquote {
    font-size: 0.5rem;
    line-height: 1.75;
  }
}

footer {
  color: var(--color-grayish-blue-transparent);
}

.paragraph--benefit {
  color: var(--color-desaturated-blue-transparent);
}
@media only screen and (min-width: 55em) {
  .paragraph--benefit {
    color: var(--color-dark-blue);
  }
}

.subheading--cta {
  letter-spacing: 0.05rem;
}
.subheading--benefit {
  text-align: center;
}
@media only screen and (min-width: 55em) {
  .subheading--benefit {
    text-align: left;
  }
}

.page__hero {
  text-align: center;
}
@media only screen and (min-width: 55em) {
  .page__hero {
    text-align: left;
  }
}

.page__cta {
  text-align: center;
}
.page__cta h2 {
  color: var(--color-grayish-blue);
}
.page__cta p {
  color: var(--color-grayish-blue-transparent);
}

.wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

@media only screen and (min-width: 55em) {
  .wrapper {
    padding-left: 3.3333rem;
    padding-right: 3.3333rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 1.65%;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .col-smaller {
    width: 46%;
  }

  .col-bigger {
    width: 52.35%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 6.125rem;
}
@media only screen and (min-width: 55em) {
  header {
    margin-top: 2.6667rem;
    margin-bottom: 4rem;
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
}
@media only screen and (min-width: 55em) {
  nav ul {
    column-gap: 2.3333rem;
  }
}

footer {
  padding: 4.25rem 2.5rem 3rem;
  background-color: var(--color-dark-blue);
}

.logo--header {
  width: 5rem;
  height: auto;
}
@media only screen and (min-width: 55em) {
  .logo--header {
    width: 7rem;
  }
}
.logo__mask {
  margin-bottom: 2.5rem;
  width: 11rem;
  height: 3.25rem;
  background-color: var(--color-white);
  -webkit-mask-image: url(../images/logo.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../images/logo.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.heading--hero {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 55em) {
  .heading--hero {
    margin-bottom: 0.75rem;
  }
}

.subheading--benefit {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 55em) {
  .subheading--benefit {
    margin-top: 3rem;
  }
}
.subheading--cta {
  margin-bottom: 1rem;
}

.paragraph--hero {
  margin-bottom: 2rem;
  padding-left: 0.735rem;
  padding-right: 0.735rem;
}
@media only screen and (min-width: 55em) {
  .paragraph--hero {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
  }
}
.paragraph--benefit {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 55em) {
  .paragraph--benefit {
    width: 85%;
    margin-left: 0;
    margin-right: 0;
  }
}
.paragraph--cta {
  margin-left: 1.277375rem;
  margin-right: 1.277375rem;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 55em) {
  .form {
    width: 90%;
    flex-direction: row;
    column-gap: 0.5rem;
  }
}
.form div {
  padding-left: 0.735rem;
  padding-right: 0.735rem;
}
@media only screen and (min-width: 55em) {
  .form div {
    padding-left: 0;
    padding-right: 0;
  }
  .form div:first-child {
    flex: 3.15;
  }
  .form div:last-child {
    flex: 1.85;
  }
}
.form input {
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.1rem;
  outline: none;
}
@media only screen and (min-width: 55em) {
  .form input {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}
.form label {
  display: none;
}
.form--cta {
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
}

.email--hero, .email--cta {
  margin-bottom: 1rem;
  border: 1px solid var(--color-dark-blue);
}
.email--hero::-webkit-input-placeholder, .email--cta::-webkit-input-placeholder {
  color: var(--color-light-gray);
  opacity: 0.5;
}
@media only screen and (min-width: 55em) {
  .email--hero, .email--cta {
    margin-bottom: 0rem;
  }
}

.submit--hero, .submit--cta {
  color: var(--color-grayish-blue);
  background-color: var(--color-bright-blue);
  border: none;
}
.submit--hero {
  box-shadow: 0px 2px 5px 1px var(--color-light-gray);
}
@media only screen and (min-width: 55em) {
  .submit--hero {
    height: 100%;
  }
}
.submit--cta {
  box-shadow: 0px 1px 15px -12px var(--color-dark-blue);
}

.page__hero {
  margin-bottom: 9rem;
}
.page__illustration--1 {
  margin-bottom: 2.5rem;
  padding-left: 0.735rem;
  padding-right: 0.735rem;
}
.page__illustration--2 {
  margin-bottom: 5.5rem;
  padding-top: 2.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.page__benefit {
  position: relative;
  padding-bottom: 5rem;
  background-color: var(--color-grayish-blue);
}
@media only screen and (min-width: 55em) {
  .page__benefit {
    padding-bottom: 3rem;
  }
}
.page__benefit::before {
  position: absolute;
  content: "";
  top: -53px;
  left: 0;
  height: 53px;
  width: 100%;
  background-image: url(../images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (min-width: 55em) {
  .page__benefit::before {
    top: -114px;
    height: 114px;
    background-image: url(../images/bg-curve-desktop.svg);
  }
}
.page__benefit a {
  display: block;
  width: fit-content;
  margin: 0 auto 2.5rem;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid currentColor;
}
.page__benefit a::after {
  display: inline-block;
  content: "";
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  margin-left: 0.4rem;
  vertical-align: text-bottom;
}
@media only screen and (min-width: 55em) {
  .page__benefit a::after {
    vertical-align: middle;
  }
}
.page__benefit a:hover {
  filter: brightness(130%);
}
@media only screen and (min-width: 55em) {
  .page__benefit a {
    margin: 0;
    margin-bottom: 2rem;
    padding-top: 0;
  }
}
.page__testimonial {
  position: relative;
  width: 17.5rem;
  margin: 0 auto;
  padding: 2.25rem 1.75rem 1.25rem;
  background-color: var(--color-white);
  border-radius: 3px;
  box-shadow: 0px 5px 24px -20px var(--color-desaturated-blue);
}
.page__testimonial::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  top: 1rem;
  left: 1.75rem;
  background-image: url(../images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (min-width: 55em) {
  .page__testimonial {
    width: 14rem;
    margin: 0;
    padding: 1.75rem 1.4rem 1rem;
  }
  .page__testimonial::before {
    left: 1.4rem;
  }
}
.page__customer {
  display: grid;
  grid-template-rows: 0.75rem 0.75rem;
  grid-template-columns: 1.5rem max-content;
  column-gap: 0.5rem;
  margin-top: 1rem;
}
.page__customer img {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  border-radius: 50%;
  width: auto;
  height: 100%;
}
.page__customer strong {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
}
.page__customer small {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  padding-top: 3px;
}
@media only screen and (min-width: 55em) {
  .page__customer {
    margin-top: 0.75rem;
  }
}
.page__cta {
  padding-top: 3.25rem;
  padding-bottom: 4rem;
  background-color: var(--color-desaturated-blue);
}
.page__communication {
  margin-bottom: 3.5rem;
}
.page__communication li::before {
  margin-right: 1rem;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.page__communication li:first-child::before {
  height: 18px;
  width: 18px;
  background-image: url(../images/icon-phone.svg);
}
.page__communication li:last-child::before {
  height: 16px;
  width: 20px;
  background-image: url(../images/icon-email.svg);
}
.page__communication li:not(:last-child) {
  margin-bottom: 1rem;
}
.page__about, .page__contact {
  margin-bottom: 3rem;
}
.page__about > * + *, .page__contact > * + * {
  margin-top: 1rem;
}
.page__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
}
.page__icon-box {
  border: 1px solid var(--color-grayish-blue-transparent);
  border-radius: 50%;
  padding: 0.45rem;
  cursor: pointer;
}
.page__icon {
  display: block;
  margin: auto;
  width: 0.7rem;
  height: 0.7rem;
  fill: var(--color-grayish-blue);
}
