@use "../abstracts/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  
  @include respond-to-desktop {
    width: 90%;
    flex-direction: row;
    column-gap: 0.5rem;
  }

  div {
    padding-left: 0.735rem;
    padding-right: 0.735rem;

    @include respond-to-desktop {
      padding-left: 0;
      padding-right: 0;

      &:first-child { flex: 3.15; }
      &:last-child { flex: 1.85; }
    }
  }

  input {
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.1rem;
    outline: none;

    @include respond-to-desktop {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
  }

  label { display: none; }

  &--cta {
    width: 82.5%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    & div:first-child,
    & div:last-child {
      flex: 1;
    }

    & div:last-child {
      margin-top: 0.5rem;
      width: fit-content;
    }
  }
}

.email {
  &--hero,
  &--cta {
    margin-bottom: 1rem;
    border: 1px solid var(--color-dark-blue);

    &::-webkit-input-placeholder {
      color: var(--color-light-gray);
      opacity: 0.5;
    }

    @include respond-to-desktop {
      margin-bottom: 0rem;
    }
  }
}

.submit {
  &--hero,
  &--cta {
    color: var(--color-grayish-blue);
    background-color: var(--color-bright-blue);
    border: none;
  }

  &--hero {
    box-shadow: 0px 2px 5px 1px var(--color-light-gray);

    @include respond-to-desktop {
      height: 100%;
    }
  }

  &--cta {
    box-shadow: 0px 1px 15px -12px var(--color-dark-blue);
  }
}
