@use "../abstracts/mixins" as *;

.paragraph {
  &--hero {
    margin-bottom: 2rem;
    padding-left: 0.735rem;
    padding-right: 0.735rem;

    @include respond-to-desktop {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 1rem;
    }
  }

  &--benefit {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    margin-bottom: 1rem;
  }

  &--cta {
    margin-left: 1.277375rem;
    margin-right: 1.277375rem;
    margin-bottom: 1.5rem;
  }
}
