@use "../abstracts/mixins" as *;

.subheading {
  &--benefit {
    margin-bottom: 1.5rem;

    @include respond-to-desktop {
      margin-top: 3rem;
    }
  }

  &--cta {
    margin-bottom: 1rem;
  }
}
