@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

html {
  font-size: 100%;

  @include respond-to-desktop { font-size: 150%; }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color-dark-blue);
}

h1,
h2,
nav,
input[role="button"] {
  font-family: 'Raleway', sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

nav,
input[role="button"] {
  font-weight: 400;
}

nav {
  font-size: 0.75rem;
  letter-spacing: 0.01rem;

  @include respond-to-desktop { font-size: 0.6667rem; }
}

h1 {
  letter-spacing: 0.03rem;

  @include respond-to-desktop {
    font-size: 1.67rem;
    letter-spacing: 0;
  }
}

h2 {
  font-size: 1rem;

  @include respond-to-desktop {
    font-size: 1.67rem;
  }
}

p {
  font-size: 0.890625rem;

  @include respond-to-desktop {
    font-size: 0.75rem;
    line-height: 1.25;
  }
}

input[type="email"],
input[type="submit"] {
  font-size: 0.875rem;

  @include respond-to-desktop {
    font-size: 0.625rem;
  }
}

input[type="submit"] { font-weight: 700; }

input[type="email"]::-webkit-input-placeholder {
  font-size: 0.75rem;

  @include respond-to-desktop {
    font-size: 0.625rem;
  }
}

a:link,
a:visited {
  text-decoration: none;
}

blockquote {
  font-size: 0.625rem;
  line-height: 1.75;

  strong {
    font-family: 'Raleway', sans-serif;
  }

  small {
    font-size: 0.4rem;
  }

  @include respond-to-desktop {
    font-size: 0.5rem;
    line-height: 1.75;
  }
}

footer { color: var(--color-grayish-blue-transparent); }

.paragraph {
  &--benefit {
    color: var(--color-desaturated-blue-transparent);

    @include respond-to-desktop {
      color: var(--color-dark-blue);
    }
  }

  &--cta {
    @include respond-to-desktop { text-align: left; }
  }
}

.subheading {
  &--cta {
    letter-spacing: 0.05rem;

    @include respond-to-desktop {
      text-align: left;
      font-size: 1.5rem;
    }
  }

  &--benefit {
    text-align: center;

    @include respond-to-desktop { text-align: left; }
  }
}

.page__hero {
  text-align: center;

  @include respond-to-desktop { text-align: left; }
}

.page__cta {
  text-align: center;

  & h2 { color: var(--color-grayish-blue); }
  & p { color: var(--color-grayish-blue-transparent); }

  @include respond-to-desktop { text-align: left; }
}

.link {
  &--benefit {
    font-size: 0.75rem;
    color: var(--color-moderate-cyan);
  }

  &--footer {
    color: currentColor;

    &:hover { color: var(--color-bright-blue); }
  }
}
